{% include 'public_header.html' %}

        <!-- <labe>Usernamre:</labe>
        <label>Password:</label> -->
        <div class="lg-main">
    
            <div class="lg-2nd">

                <h1>Sign Up</h1>

                
    <form method="POST">

        <table class="table" style="width: 500px;">
            <tr>
                <th>Email</th>
                <td><input type="email" required="" class="form-control" name="Email"></td>
            </tr>
        <tr>
            <th>Firstname</th>
            <td><input type="text"  required="" class="form-control" name="Firstname"></td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td><input type="text"  required="" class="form-control" name="Lastname"></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td><input type="number" pattern="[0-9]{10}" maxlength="10"  required="" class="form-control" name="Phone_number"></td>
        </tr>
        
        <tr>
            <th>House Name</th>
            <td><input type="text"  required="" class="form-control" name="House_name"></td>
        </tr>

        <tr>
            <th>City</th>
            <td><input type="text"  required="" class="form-control" name="city"></td>
        </tr>
        <tr>
            <th>State</th>
            <td><input type="text"  required="" class="form-control" name="State"></td>
        </tr>
        <tr>
            <th>District</th>
            <td><input type="text"  required="" class="form-control" name="District"></td>
        </tr>
        <tr>
            <th>Pincode</th>
            <td><input type="number" pattern="[0-9]{6}" required="" class="form-control" name="Pincode"></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password"  required="" class="form-control" name="Password"></td>
        </tr>

        <tr>
            <span style="padding-left: 200px;">
            <td align="center" colspan="2"><input type="submit" value="Submit" class="btn btn-success" name="submit"></td></span>
        </tr>
        </center>
    </table>
    </form>

</div>
</div>
    
   

    <style>
      *{
        margin: 0px;
        padding: 0px;
      }
        .lg-main{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 10px;

        }
        h1{
           text-align: center;
           padding-top: 20px;
           color:
         #FF5733;
         font-family:Cambria;
        }
        .lg-2nd{
            margin-bottom: 200px;
            margin-top: 120px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            border-radius: 30px;
            height: 780px;
            background-color: rgba(0, 0, 0, 0.09);
        }
        body{
        background-image: url("/static/assets/images/back.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700% !important;
    }
    header{
        background:black;
    }

    </style>


     {% include 'footer.html' %}